/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}
@font-face{
    font-family: "roboto";
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face{
    font-family: "coachella";
    src: url(../fonts/MADE\ Coachella\ Light\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: "primetime";
    src: url(../fonts/PRIMETIME\ _PERSONAL\ USE\ ONLY.ttf);
}
@font-face{
    font-family: "robotolight";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
    font-family: "robotoregular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: "robotoitalic";
    src: url(../fonts/Roboto-LightItalic.ttf);
}
html{
    -ms-overflow-style: none;
    user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
    font-family: "roboto";
    color: #FEF3F6;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.article{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

#background{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
}
#article1{
    position: absolute;
    z-index: 1;
    top: 0vw;
    width: 87vw;
    height: 139vw;
    left: 50%;
    transform: translateX(-50%);
}
#article2{
    position: absolute;
    z-index: 1;
    top: 0vw;
    width: 87vw;
    left: 50%;
    transform: translateX(-50%);
}
.nav{
    position: fixed;
    font-family: "robotolight";
    font-size: 1vw;
    line-height: 1vw;
    margin: 1vw 1vw;
    cursor: pointer;
    z-index: 1;
    display: none;
}
#logo{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: .5vw;
    z-index: 2;
    width: 3vw;
    height: 3vw;
}
#nav1{
    top: .5vw;
    left: 10vw;
}
#nav2{
    top: .5vw;
    left: 28vw;
}
#nav3{
    top: .5vw;
    right: 28vw;
}
#nav4{
    top: .5vw;
    right: 10vw;
}
#mainimg{
    width: 100%;
}
#main1{
    position: absolute;
    z-index: 1;
    top: 4vw;
    left: 9%;
    width: 23%;
}
#main2{
    position: absolute;
    z-index: 1;
    top: 20vw;
    left: 40%;
    width: 15%;
}
#main3{
    position: absolute;
    z-index: 1;
    top: 6vw;
    left: 69%;
    width: 20%;
}
#title,#area{
    position: absolute;
    font-family: "robotolight";
    font-size: 4.3vw;
    letter-spacing: 0.3em;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: center;
    height: 4.3vw;
    width: 100%;
}
#title{
    top: 20vw;
    z-index: 1;
    width: 100%;
}
#title span{
    position: absolute;
    width: 100%;
    top: 0vw;
    left: 50%; transform: translateX(-50%);
}
#area{
    z-index: 2;
    top: 25vw;
}
#area span{
    position: absolute;
    width: 100%;
    top: 0vw;
    left: 50%; transform: translateX(-50%);
}
#btn{
    background: rgb(78,219,255);
    background: linear-gradient(45deg, rgba(78,219,255,1) 0%, rgba(51,249,37,1) 100%);
    width: 9vw;
    height: 2vw;
    position: absolute;
    border-radius: 1vw 1vw 1vw 1vw;
    left: 50%; transform: translateX(-50%);
    top: 35vw;
    z-index: 1;
    text-align: center;
    font-size: 1vw;
    line-height: 100px 0;
    cursor: pointer;
    font-family: "robotolight";
}
#btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#section1 ,#section2{
    position: relative;
    left: 0%;
    width: 100%;
    height: 37vw;
    font-family: "robotolight";
}
#section1{
    margin-top: 14vw;
}
#dynamite1, #dynamite2, #dynamite3{
    width: 100%;
    height: 7vw;
    position: relative;
    overflow: hidden;
}
#section1 span{
    font-size: 5.9vw;
    position: absolute;
}
#section1img1{
    top: -16vw;
    left: 25vw;
}
#section1img2{
    top: 10vw;
    left: -7vw;
}
#section1img3{
    top: 11vw;
    left: 66vw;
}
#section1 img{
    opacity: 75%;
    width: 25%;
    position: absolute;
}
#section2{
    margin-top: 20vw;
}
#section2 img{
    position: absolute;
    opacity: 70%;
    width: 35%;
}
#section2img1{
    top: 0vw;
    left: 53vw;
}
#section2img2{
    top: 22vw;
    left: 0vw;
}
#section2img3{
    top: 95vw;
    left: 50%;
}
#section2 div{
    position: relative;
    width: 100%;
    height: 5.9vw;
    font-size: 5.9vw;
    font-family: "robotoitalic";
}
#section2div1, #section2div2{
    left: 61%;
}
#section2div3{
    top: 12vw;
    left: 0vw;
}
#section2div4{
    top: 12vw;
    left: 0vw;
}
#section2div5{
    top: 77vw;
    left: 43vw;
}
#section2div6{
    top: 77vw;
    left: 43vw;
}
#section2 p{
    position: absolute;
    margin-top: 28vw;
    font-size: 1.2vw;
    line-height: 1.3em;
}
#section2p1{
    top: 24vw;
    left: 50%;
    width: 50%;
}
#section2p2{
    top: 50vw;
    left: 0%;
    width: 38%;
}
#section2p3{
    top: 124vw;
    left: 46%;
    width: 38%;
}
#members{
    position: relative;
    margin-top: 10vw;
    height: 144vw;
}
#members img{
    opacity: 80%;
}
#members_1{
    position: absolute;
    font-family: "primetime";
    color: #FEF3F6;
    top: 21vw;
    font-size: 3vw;
    letter-spacing: 0.5em;
    left: 50%; transform: translateX(-50%) rotate(90deg);
    overflow: hidden;
    width: 27vw;
    height: 4vw;
}
#members_1 span{
    position: absolute;
}
#v{
    width: 27%;
    position: absolute;
    top: 3vw;
    left: 12%;
}
#jimin{
    width: 37%;
    position: absolute;
    top: 11vw;
    left: 62%;
}
#jungkook{
    width: 41%;
    position: absolute;
    top: 39vw;
    left: 0%;
}
#sugar{
    width: 20%;
    position: absolute;
    top: 66vw;
    left: 62%;
}
#jhope{
    width: 24%;
    position: absolute;
    top: 83vw;
    left: 22%;
}
#jin{
    width: 23%;
    position: absolute;
    top: 97vw;
    left: 64%;
}
#rm{
    width: 32%;
    position: absolute;
    top: 116vw;
    left: 14%;
}
#v_1, #jimin_1, #jungkook_1, #sugar_1, #jhope_1, #jin_1, #rm_1{
    position: absolute;
    font-family: "roboto";
    font-size: 1.2vw;
    color: #FEF1FF;
    transform: rotate(90deg);
    width: 20vw;
    text-align: left;
}
#v_1{
    top: 12.5vw;
    left: 28%;
}
#jimin_1{
    top: 20.4vw;
    left: 88.2%;
}
#jungkook_1{
    top: 48.5vw;
    left: 30%;
}
#sugar_1{
    top: 76vw;
    left: 71%;
}
#jhope_1{
    top: 92.5vw;
    left: 35.2%;
}
#jin_1{
    top: 106.7vw;
    left: 76%;
}
#rm_1{
    top: 125.9vw;
    left: 35%;
}
p{
    word-spacing: .1vw;
    font-family: "roboto";
}
#playlist{
    position: relative;
    font-family: "roboto";
    font-size: 7vw;
    margin-top: 15vw;
    left: 50%; transform: translateX(-50%);
    z-index: 0;
}
#playlist_1{
    position: relative;
    height: 60vw;
}
#albumcover{
    position: relative;
    margin-top: -4vw;
    width: 63%;
    left: 50%;
    transform: translateX(-25%);
    z-index: 0;
}
#coverimg{
    width: 50%;
    position: absolute;
    z-index: 2;
}
#lp{
    width: 56%;
    position: absolute;
    top: -1vw;
    left: 3vw;
}
#albumbox{
    position: absolute;
    width: 22%;
    height: 22%;
    top: 36.5%;
    left: 35.6%;
}
#album{
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    font-family: "coachella";
    position: absolute;

    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}
#logo4{
    position: absolute;
    width: 61%;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
}

ul{
    position: relative;
}
li{
    display: inline;
    font-family: "primetime";
    font-size: 3.3vw;
    cursor: pointer;
    left: 0vw;
    position: absolute;
    z-index: 1;
}
#li1{width:25.5vw;top:33vw}#li2{width:38.5vw;top:38vw}#li3{width:20.5vw;top:43vw}#li4{width:36.5vw;top:48vw}#li5{width:22vw;top:33vw;left:50%}#li6{width:29vw;top:38vw;left:50%}#li7{width:23vw;top:43vw;left:50%}#li8{width:37vw;top:48vw;left:50%}
#playbtn{
    position: relative;
}
.play{position:absolute;width:2vw}#play1{top:34.3vw;left:21vw}#play2{top:39.3vw;left:30vw;}#play3{top:44.6vw;left:10vw}#play4{top:49.3vw;left:28.5vw}#play5{top:34.3vw;left:73.5vw}#play6{top:39.3vw;left:66vw}#play7{top:44.4vw;left:63.5vw}#play8{top:49.3vw;left:74.5vw}.pause{position:absolute;width:2vw}#pause1{top:34.3vw;left:21vw}#pause2{top:39.3vw;left:30vw;}#pause3{top:44.6vw;left:10vw}#pause4{top:49.3vw;left:28.5vw}#pause5{top:34.3vw;left:73.5vw}#pause6{top:39.3vw;left:66vw}#pause7{top:44.4vw;left:63.5vw}#pause8{top:49.3vw;left:74.5vw}

#discography{
    position: relative;
    font-family: "primetime";
    font-size: 4vw;
    margin-top: 34vw;
    left: 0;
}
#disclist{
    position: relative;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 10vw;
    left: 0;
}
#cardwrapper{
    position: relative;
    width: 89%;
    height: 200vw;
    left: 50%; transform: translateX(-50%);
    margin-top: 9vw;
}
.photocard{
    width: 30%;
    height: 52vw;
    position: absolute;
    opacity: 76%;
}
.photo{
    width: 100%;
}
#photocard1{
    top: 0vw;
    left: 0%;
}

#photocard2{
    top: 23vw;
    left: 35%;
}

#photocard3{
    top: 9vw;
    left: 70%;
}
#photocard4{
    top: 51vw;
    left: 0%;
}
#photocard5{
    top: 71vw;
    left: 35%;
}
#photocard6{
    top: 55vw;
    left: 70%;
}
#photocard7{
    top: 94vw;
    left: 0%;
}
#photocard8{
    top: 119vw;
    left: 35%;
}
#photocard9{
    top: 160vw;
    left: 35%;
}
#photocard10{
    top: 137vw;
    left: 0%;
}
#photocard11{
    top: 141vw;
    left: 70%;
}
#photocard12{
    top: 98vw;
    left: 70%;
}
#name1{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 4.5vw;
    top: 28vw;
    left: -28.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name2{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 6vw;
    top: 27vw;
    left: -27.6vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name3{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 4.5vw;
    top: 28vw;
    left: -28.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name4{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 2.5vw;
    top: 29vw;
    left: -8.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name5{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 6vw;
    top: -11vw;
    left: -10.3vw;
    transform: rotate(-90deg);
    width: 61vw;
}
#name6{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 6.5vw;
    top: 26vw;
    left: -27.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name7{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 7.5vw;
    top: -2vw;
    left: 12.4vw;
    width: 61vw;
}
#name8{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 5.7vw;
    top: 27vw;
    left: -27.7vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name9{
    position: absolute;
    font-family: "notosans";
    color: white;
    font-size: 4.5vw;
    top: 28vw;
    left: -28.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name10{
    position: absolute;
    font-family: "notosans";
    color: white;
    font-size: 4.5vw;
    top: 28vw;
    left: -28.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name11{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 5.5vw;
    top: 27vw;
    left: -27.8vw;
    transform: rotate(90deg);
    width: 61vw;
}
#name12{
    position: absolute;
    font-family: "primetime";
    color: white;
    font-size: 4.5vw;
    top: 28vw;
    left: -28.3vw;
    transform: rotate(90deg);
    width: 61vw;
}
