/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}
@font-face{
    font-family: "roboto";
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face{
    font-family: "coachella";
    src: url(../fonts/MADE\ Coachella\ Light\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: "primetime";
    src: url(../fonts/PRIMETIME\ _PERSONAL\ USE\ ONLY.ttf);
}
html{
    overflow-x: hidden;
    user-select: none;
}
body{
    -ms-overflow-style: none;
    font-family: "roboto";
} ::-webkit-scrollbar { display: none;
}
#background{
    position: absolute;
    width: 100%;
    height: 500vw;
    background-image: linear-gradient(to bottom, #f5a6b9 ,#CDDDEB);
}
#article{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    top: 64vw;
    width: 87vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#dynamite_1{
    position: relative;
    margin-top: 1vw;
    left: 0%;
    width: 100%;
}
#title{
    position: absolute;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 14vw;
    top: 26vw;
    left: 50%; transform: translateX(-50%);
    z-index: 1;
}
#area{
    position: absolute;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 3vw;
    z-index: 2;
    top: 44.28vw;
    left: 50%; transform: translateX(-50%);
    letter-spacing: 0.5em;
    width: 100%;
    text-align: center;
}
#dynamite{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 5vw;
    margin-top: 3vw;
    left: 0%;
    width: 53%;
}
#billion{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 5vw;
    margin-top: 15vw;
    left: 50%;
    width: 50%;
}
#billion_1{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 11vw;
    margin-top: -3vw;
    left: 50%;
    width: 50%;
}
#about{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 5vw;
    margin-top: 15vw;
    left: 0%;
    width: 50%;
}
#members{
    position: relative;
    margin-top: 10vw;
    height: 144vw;
}
#members_1{
    position: absolute;
    font-family: "primetime";
    top: 21vw;
    font-size: 5vw;
    left: 50%; transform: translateX(-50%) rotate(90deg);
}
#v{
    width: 27%;
    position: absolute;
    top: 0vw;
    left: 13%;
}
#jimin{
    width: 37%;
    position: absolute;
    top: 11vw;
    left: 62%;
}
#jungkook{
    width: 41%;
    position: absolute;
    top: 39vw;
    left: 0%;
}
#sugar{
    width: 20%;
    position: absolute;
    top: 66vw;
    left: 62%;
}
#jhope{
    width: 24%;
    position: absolute;
    top: 83vw;
    left: 22%;
}
#jin{
    width: 23%;
    position: absolute;
    top: 97vw;
    left: 64%;
}
#rm{
    width: 32%;
    position: absolute;
    top: 116vw;
    left: 14%;
}
#v_1{
    position: absolute;
    font-family: "primetime";
    top: 13.2vw;
    left: 13%;
    font-size: 9vw;
    color: #f5a6b9;
}
#jimin_1{
    position: absolute;
    font-family: "primetime";
    top: 35vw;
    left: 62%;
    font-size: 7vw;
    color: #f5a6b9;
}
#jungkook_1{
    position: absolute;
    font-family: "primetime";
    top: 61vw;
    left: 0%;
    font-size: 8vw;
    color: #f5a6b9;
    line-height: 0.8em;
}
#sugar_1{
    position: absolute;
    font-family: "primetime";
    top: 79vw;
    left: 62%;
    font-size: 3.5vw;
    color: #f5a6b9;
}
#jhope_1{
    position: absolute;
    font-family: "primetime";
    top: 103.7vw;
    left: 22%;
    font-size: 4.7vw;
    color: #f5a6b9;
}
#jin_1{
    position: absolute;
    font-family: "primetime";
    top: 106.7vw;
    left: 64%;
    font-size: 8.7vw;
    color: #f5a6b9;
}
#rm_1{
    position: absolute;
    font-family: "primetime";
    top: 133.9vw;
    left: 13.7%;
    font-size: 8.5vw;
    color: #f5a6b9;
}
p{
    font-size: 1.3vw;
    line-height: 1.2em;
}
#playlist{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 7vw;
    margin-top: 15vw;
    left: 50%; transform: translateX(-50%);
    z-index: 0;
}
#playlist_1{
    position: relative;
    height: 60vw;
}
#albumcover{
    position: relative;
    margin-top: -4vw;
    width: 63%;
    left: 50%;
    transform: translateX(-25%);
    z-index: -1;
}
#coverimg{
    width: 50%;
    position: absolute;
    z-index: 2;
}
#lp{
    width: 56%;
    position: absolute;
    top: -1vw;
    left: 3vw;
}
#albumbox{
    position: absolute;
    width: 22%;
    height: 22%;
    top: 36.5%;
    left: 35.6%;
}
#album{
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    font-family: "coachella";
    color: white;
    position: absolute;

    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}
#logo4{
    position: absolute;
    width: 61%;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
}

ul{
    position: relative;
}
li{
    display: inline;
    font-family: "primetime";
    color: white;
    font-size: 3.3vw;
    cursor: pointer;
    left: 0vw;
    position: absolute;
    z-index: 1;
}
#li1{width:25.5vw;top:33vw}#li2{width:38.5vw;top:38vw}#li3{width:20.5vw;top:43vw}#li4{width:36.5vw;top:48vw}#li5{width:22vw;top:33vw;left:50%}#li6{width:29vw;top:38vw;left:50%}#li7{width:23vw;top:43vw;left:50%}#li8{width:37vw;top:48vw;left:50%}
#playbtn{
    position: relative;
}
.play{position:absolute;width:2vw}#play1{top:34.3vw;left:21vw}#play2{top:39.3vw;left:30vw;}#play3{top:44.6vw;left:10vw}#play4{top:49.3vw;left:28.5vw}#play5{top:34.3vw;left:73.5vw}#play6{top:39.3vw;left:66vw}#play7{top:44.4vw;left:63.5vw}#play8{top:49.3vw;left:74.5vw}.pause{position:absolute;width:2vw}#pause1{top:34.3vw;left:21vw}#pause2{top:39.3vw;left:30vw;}#pause3{top:44.6vw;left:10vw}#pause4{top:49.3vw;left:28.5vw}#pause5{top:34.3vw;left:73.5vw}#pause6{top:39.3vw;left:66vw}#pause7{top:44.4vw;left:63.5vw}#pause8{top:49.3vw;left:74.5vw}

#discography{
    position: relative;
    font-family: "primetime";
    color: white;
    font-size: 4vw;
    margin-top: 34vw;
    left: 0;
}
#mainimg{
    position: relative;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
}
#mainimg2{
    position: absolute;
    z-index: 0;
    width: 38%;
    left: 50%;
    top: 5vw;
}
#disclist{
    position: relative;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 10vw;
    left: 0;
}