/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}
@font-face{
    font-family: "roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}
@font-face{
    font-family: "coachella";
    src: url(../fonts/MADE\ Coachella\ Light\ PERSONAL\ USE.otf);
}
@font-face{
    font-family: "primetime";
    src: url(../fonts/PRIMETIME\ _PERSONAL\ USE\ ONLY.ttf);
}
body{
    background-color: #f5a6b9;
    overflow-x: hidden;
    -ms-overflow-style: none;
    font-family: "roboto";
} ::-webkit-scrollbar { display: none;

    
}
#container{
    width: 14vw; height: 14vw;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
#wrapper{
    width: 14vw; height: 14vw;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    overflow: hidden;
}
#wrapper2{
    width: 35vw; height: 35vw;
    position: absolute;
    top: 50.5%; left: 50.5%; transform: translate(-29.3%, -38.4%) rotate(45deg);
    transition: transform 2s;
    transform-origin: top right;
    overflow: hidden;

}
#wrapper3{
    width: 35vw; height: 35vw;
    position: absolute;
    top: 51%; left: 50%; transform: translate(-29.3%, -38.4%) rotate(45deg);
    transition: transform 2s;
    transform-origin: top right;
}
#wrapper4{
    width: 14vw;
    height: 29vw;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#wrapper5{
    width: 35vw;
    height: 35vw;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-29.3%, -38.4%) rotate(45deg);
    transition: transform 2s;
    transform-origin: top right;
    overflow: hidden;
}
#shadow{
    background-color: black;
    width: 4vw;
    height: 35vw;
    position: absolute;
    top: 0%;
    left: 103%;
    box-shadow: -24px -1px 19px #aa6e7d;
    overflow: hidden;
}
#pinkbox{
    background-color: #f5a6b9;
    width: 14vw; height: 14vw;
    position: absolute;
    top: 0%; left: 0%;
    box-shadow: -1px -1px 10px #fab0c1;
    overflow: hidden;
}
#blackbox{
    background-color: black;
    width: 35vw; height: 60vw;
    position: absolute;
    top: 28.5%;
    left: 100%;
    box-shadow: -54px -54px 51px rgb(229 133 154);
}
#pinkbox2{
    background-color: #ffc7d4;
    width: 14vw; height: 14vw;
    position: absolute;
    top: 27vw;
    left: 39vw;
    transform: rotate(45deg);
    transform-origin: top right;
    transition: transform 2s;
}
#logo{
    width: 71%;
    position: absolute;
    top: 17vw;
    left: 50%; transform: translateX(-50%);
}
#container:hover #pinkbox2{
    transform: translate(-115%, -19%)  rotate(90deg);
}
#container:hover #wrapper2{
    top: 50.5%; left: 50.5%; transform: translate(-51.3%, -20.4%) rotate(90deg);
}
#container:hover #wrapper3{
    top: 51%; left: 50%; transform: translate(-51.3%, -20.4%) rotate(90deg);
}
#container:hover #wrapper5{
    top: 76%;
    left: 50%; transform: translate(-51.3%, -20.4%) rotate(90deg);
}



#blackbox2{
    background-color: black;
    width: 8vw;
    height: 8vw;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    position: absolute;
}
#block{
    width: 72vw;
    height: 35vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    position: absolute;
}
#block2{
    width: 41vw;
    height: 41vw;
    top: 50%;
    left: 50%;
    transform: translate(-117%, -54%) rotate(90deg);
    position: absolute;
}
#block3{
    width: 41vw;
    height: 14vw;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -54%) rotate(90deg);
    position: absolute;
}
#block4{
    width: 41vw;
    height: 14vw;
    top: 50%; left: 50%; transform: translate(-50%, 49%);
    position: absolute;
}
#logo2{
    position: absolute;
    z-index: 1;
    width: 10vw;
    top: 3vw;
    left: 50%; transform: translateX(-50%);
}
#logo3{
    position: absolute;
    z-index: 1;
    width: 95vw;
    top: 4vw;
    left: 50%;
    transform: translateX(-50%);
}
#mainimg{
    position: absolute;
    z-index: 1;
    width: 72vw;
    top: 16vw;
    left: 50%; transform: translateX(-50%);
    opacity: 100%;
}
#article{
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    top: 64vw;
    width: 97vw;
    left: 50%;
    transform: translateX(-50%);
}
#article2{
    position: relative;
    margin-top: 13vw;
    left: 49vw;
    width: 48vw;
}
#star{
    position: absolute;
    z-index: 1;
    width: 4vw;
    top: 24vw;
    left: 50%;
    transform: translateX(-50%);
    fill: #f5a6b9;
}
#star2{
    position: absolute;
    z-index: 1;
    width: 4vw;
    top: 31vw;
    left: 30%;
    fill: #f5a6b9;
}
#star3{
    position: absolute;
    z-index: 1;
    width: 4vw;
    top: 2.5vw;
    left: 3vw;
    fill: #f5a6b9;
}
#star4{
    position: absolute;
    z-index: 1;
    width: 4vw;
    top: 2.5vw;
    left: 93vw;
    fill: #f5a6b9;
}
#title{
    position: absolute;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 14vw;
    top: 5vw;
    left: 50%; transform: translateX(-50%);
    z-index: 1;
}
#firstalbum{
    position: relative;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 4vw;
    margin-top: 5vw;
    left: 49vw;
}
#time1{
    font-family: "coachella";
    color: #f5a6b9;
    font-size: 2vw;
    position: absolute;
    z-index: 1;
    top: 19vw;
    left: 6%;
}
#time2{
    font-family: "coachella";
    color: #f5a6b9;
    font-size: 2vw;
    position: absolute;
    z-index: 1;
    top: 19vw;
    left: 76%;
}
p{
    line-height: 1.7em;
}
#rose{
    margin-top: 1vw;
}
#lsgcover{
    width: 50%;
    position: absolute;
    z-index: 2;
}
#area{
    position: absolute;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 1vw;
    z-index: 1;
    top: 52vw;
    left: 50%; transform: translateX(-50%);
    letter-spacing: 0.5em;
}
#lp{
    width: 59%;
    position: relative;

    top: -3vw;
    left: 17vw;
}
#albumbox{
    position: absolute;

    width: 20.7%;
    height: 20.7%;
    top: 38.5%;
    left: 38.6%;
}
#album{
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
    font-family: "coachella";
    color: #f5a6b9;
    position: absolute;

    top: 11%;
    left: 50%;
    transform: translateX(-50%);
}
#logo4{
    position: absolute;
    width: 61%;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
}
#track{
    position: relative;
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 4vw;
    margin-top: 5vw;
    left: 50%; transform: translateX(-50%);
}
#cover{
    position: relative;
    width: 78vw;
}
ul{
    position: relative;
}
#list1{

}
#list2{
    top: -11vw;
    left: 50%;
}
li{
    font-family: "primetime";
    color: #f5a6b9;
    font-size: 2vw;
}